.navbar-nav {
    margin-bottom: 50px !important;
}
ul{
    font-size: 1.2rem;
    font-style: normal;
    border-bottom: lightgray solid 0.01px;
}
.menu-main-menu-container{

    width: 100%;

}
.navbar{
    padding: 0px;
}
